<div class="message">
  <img class="avatar" {{bind-attr src=message.avatar}}/>
  <div class="info">
    {{message.username}} - {{message.time}}
  </div>
  <div class="text">{{message.message}}</div>
</div>
