$chat-header-bg: #99bbbb;
$chat-footer-bg: $chat-header-bg;
$chat-left-bg: #CFD8D5;
$chat-border-color: #000;
$chat-left-width: 180px;
$grep: #888888;

.chat {
  height: 650px;
  .header {
    background-color: $chat-header-bg;
    text-align: center;
  }
  .outputs {
    height: 100%;
    border: 5px solid $chat-border-color;
    .left {
      background-color: $chat-left-bg;
      border-right: 5px solid $chat-border-color;
      height: 100%;
      float: left;
      width: $chat-left-width;
    }
    .right {
      height: 100%;
      margin-left: $chat-left-width;
      .message {
        margin: 2px;
        img{
          float: left; 
          width: 40px; 
          height: 40px;
          -moz-box-shadow:0 0 5px $grep;
          -webkit-box-shadow:0 0 5px $grep;
          box-shadow:0 0 5px $grep;
        }
        .chat-bubble {
          margin-left: 60px;
          background-color: #ccc;
          padding: 10px;
          border:1px solid #333;
          -moz-border-radius:10px;
          -webkit-border-radius:10px;
          border-radius:10px;
          -moz-box-shadow:0 0 5px $grep;
          -webkit-box-shadow:0 0 5px $grep;
          box-shadow:0 0 5px $grep;
        }
      }
    }
  }
  .inputs {
    height: 60px;
    border: 5px solid $chat-border-color;
    .left {
      border-right: 5px solid $chat-border-color;
      height: 100%;
      width: $chat-left-width;
      float: left;
      outline: none;
      .full {
        background-color: $chat-left-bg;
      }
    }
    .right {
      height: 100%;
      outline: none;
      margin-left: $chat-left-width;
    }
    .full {
      height: 100%;
      width: 100%;
      padding-left: 10px;
    }
  }
  .footer {
    background-color: $chat-footer-bg;
    clear: both;
    text-align: center;
  }
  h1 {margin-bottom: 0;}
  ul {margin: 0;}
  li {list-style: none;}
}
