<div class="container">
  <div class="chat">
    <div class="header">
      <h1>Web Chat - 聊聊</h1>
    </div>

    <div class="outputs">
      <div class="left">
        <ul>
            <li> name </li>
            <li> name </li>
            <li> name </li>
            <li> name </li>
        </ul>
      </div>

      <div class="right">
        <ul class="messages">
          {{#each msg in messages}} 
            <li>
              <p class="bg-info">
                <strong>{{msg.username}}</strong>: {{msg.message}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="inputs">
      <div class="left">
        {{input type="text" class="full" value=name placeholder="Name here.."}}
      </div>
      <div class="right">
        {{input type="text" class="full" value=message placeholder="Type here.."}}
      </div>
    </div>

    <div class="footer">liaoliao.com</div>
  </div>
</div>
