<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Let's chat!</h1>
  <p class="lead">Chat More Global, No More Barriers. Chat is the simplest way to let you chat with your friends, no matter it is from tweets, facebook, email, bbs, or on the way home! </p>
  <p><a class="btn btn-lg btn-success" href="chat" role="button">聊聊吧</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>自由</h2>
    <p>不需注册, 不需登陆, 不需关注, 不用互加好友, 不用泄露隐私, 一个昵称, 马上开聊, 保持联系.</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>任何地点</h2>
    <p>无论你在哪个大陆, 无论你喜欢使用什么社交软件. 没有问题, 一个房间容下一切.</p>
    <p> </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>任何时间</h2>
    <p>7 * 24 小时服务, 可设置聊天记录保持时长, 最长可达6个月!</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
